* {
    box-sizing: border-box;
    font-family: 'Arvo', serif;
}

.container {
    display: grid;
    width: 80vw;
    grid-template-rows: 200px 50px auto auto auto auto 100px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "image image image image" 
    "header header header header" 
    "filtercontainer main main main" 
    "filtercontainer main main main" 
    "filtercontainer main main main" 
    "filtercontainer main main main" 
    "footer footer footer footer"
}

.image {
    grid-area: image;
}

.header {
    display: grid;
    grid-area: header;
    grid-template-columns: 2fr 1fr 1fr;
}

.filtercontainer {
    display: grid;
    grid-area: filtercontainer;
    grid-template-rows: 100px 100px 100px 100px;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    background-color: bisque;
}

.main .casa {
    background-color: #e6f9ff;
    margin: 25px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "houseimage street"
    "houseimage price"
    "houseimage generalhouseinfo"
    "houseimage morehouseinfo"
}

.houseimage {
    grid-area: houseimage;
}

.street {
    grid-area: street;
}

.price {
    grid-area: price;
}

.generalhouseinfo {
    grid-area: generalhouseinfo;
}

.morehouseinfo {
    grid-area: morehouseinfo;
}

.footer {
    grid-area: footer;
}

.casa > *{
    border: none;
}

.casa {
    border: none;
}

.casa img {
    max-width: 300px;
    max-height: 204px;
    width: 90%;
    height: 100%;
    border-radius: 15px;
}

.login {
    text-align: right;
}

.register {
    text-align: right;
}

button {
    background-color: white;
}

